<div style="width: 500px;">
	{{#each candiesInCart}}
		<div class="flex fill-x justify-between">
	    	<h2>{{name}} x {{quantity}}</h2>
	    	<h2>${{dollarAmount}}.{{centAmount}}</h2>
	    </div>
	{{/each}}
	<hr>
	<div class="flex justify-end">
    	<h2>${{runningPriceObj.dollarAmount}}.{{runningPriceObj.centAmount}}</h2>
    </div>
</div>

